@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click on  <a href="/products">Products</a> to start the AWS Cognito Authentication and Authorization Workflow.</p>
</div>
