@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an example ASP.Net core application. It allows you to redirect a short name to a different URL, and provides an administrative interface to do so.</p>
</div>
